body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cyan;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 15px;
}


#container{
    width: 80%;
    padding: 1cm;
    text-align: center;
    text-decoration: violet;
    border: 1px solid #0492;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#cabezera{
    background: wheat;
    box-shadow: 11px 13px 19px 6px rgb(0,0,0,
    0.46);

    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}

#cabezera #tagline{
    font-weight: normal;
    font-size: 0.8cm;
    padding: 0,0,0,0  1cm;
}